aclocal.m4 linguist-generated
ar-lib linguist-vendored
compile linguist-vendored
config.guess linguist-vendored
config.sub linguist-vendored
configure.scan linguist-generated
depcomp linguist-vendored
install-sh linguist-vendored
ltmain.sh linguist-vendored
missing linguist-vendored
aclocal.m4 linguist-vendored
m4/ax_*.m4 linguist-vendored
m4/libtool.m4 linguist-vendored
m4/lt*.m4 linguist-vendored
m4/pkg.m4 linguist-vendored
Makefile.in linguist-generated
doc/Makefile.in linguist-generated
