*.cache
*.o
*~
*.log
*.status
src/*deps/*.*o
stamp-h*
*(Autosaved)*
*libs/*
config.h
stamp-h*
libtool
libtool.old
config.lt
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
Makefile
gcc-root/*
